name: package for release
on:
    workflow_dispatch: {}
    push:
        branches: [wkazmierczak/update-ffmpeg-to-8.0.0-check-pckg-release]
    pull_request:
        types: [opened, synchronize]


jobs:
    linux:
        runs-on: ubuntu-latest
        steps:
            - name: 游 Install system dependencies
              run: |
                  sudo apt-get update -y -qq
                  sudo apt-get install -y libegl1-mesa-dev libgl1-mesa-dri libxcb-xfixes0-dev ffmpeg libavcodec-dev libavformat-dev libavfilter-dev libavdevice-dev libopus-dev
            - name: 游댢 Install the rust toolchain
              uses: dtolnay/rust-toolchain@stable

            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 游닍 Package
              run: cargo run --bin package_for_release

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_linux_x86_64.tar.gz
                path: smelter_linux_x86_64.tar.gz

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_with_web_renderer_linux_x86_64.tar.gz
                path: smelter_with_web_renderer_linux_x86_64.tar.gz

    linux-aarch64:
        runs-on: ubuntu-24.04-arm
        steps:
            - name: 游 Install system dependencies
              run: |
                  sudo apt-get update -y -qq
                  sudo apt-get install -y libegl1-mesa-dev libgl1-mesa-dri libxcb-xfixes0-dev ffmpeg libavcodec-dev libavformat-dev libavfilter-dev libavdevice-dev libopus-dev curl git build-essential libssl-dev pkg-config libclang-dev
                  sudo rm -rf /var/lib/apt/lists/*
            - name: 游댢 Install the rust toolchain
              uses: dtolnay/rust-toolchain@stable

            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 游닍 Package
              run: cargo run --bin package_for_release

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_linux_aarch64.tar.gz
                path: smelter_linux_aarch64.tar.gz

    macos_x86_64:
        runs-on: macos-13
        steps:
            - name: 游 Install system dependencies
              run: brew install ffmpeg

            - name: 游댢 Install the rust toolchain
              uses: dtolnay/rust-toolchain@stable

            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 游닍 Package
              run: cargo run --bin package_for_release

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_darwin_x86_64.tar.gz
                path: smelter_darwin_x86_64.tar.gz

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_with_web_renderer_darwin_x86_64.tar.gz
                path: smelter_with_web_renderer_darwin_x86_64.tar.gz

    macos-aarch64:
        runs-on: macos-14
        steps:
            - name: 游 Install system dependencies
              run: brew install ffmpeg

            - name: 游댢 Install the rust toolchain
              uses: dtolnay/rust-toolchain@stable

            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 游닍 Package
              run: cargo run --bin package_for_release

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_darwin_aarch64.tar.gz
                path: smelter_darwin_aarch64.tar.gz

            - uses: actions/upload-artifact@v4
              with:
                name: smelter_with_web_renderer_darwin_aarch64.tar.gz
                path: smelter_with_web_renderer_darwin_aarch64.tar.gz
